body {
max-width: 100%;
height: 630px;
background-image: url(image/ff2.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center 50%;
}
.cd{ 

	text-align: center;
}

.titre{
	text-align: center;
	font-size: 4em;
}
.ad{
	background: #9998b2;
	height: 200px;
	opacity: 0.6;
	border: 6px white solid;

}
.in{
	background: #9998b2;
	display: inline-block;
	height: 200px;
	width: 32.1%;
	opacity: 0.6;
	border: 6px white solid;
	position: relative;
	top: 10px;
}

#vf{
	position: relative;
	top: 30px;
	display: flex;
	margin-left: 38%;
	
}

input{
	border-style: solid;
	background: white;
	border: 2px black solid;
	height: 30px;
}

.connect
{
	position: relative;
	right: 5px;
}

.help
{
	position: relative;
	left: 5px;
}