body{
	background-image: url("Images/Fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}

@font-face{
	font-family: 'Aller';
	src: url('Polices/Aller_Rg.ttf') ;
}
@font-face{
	font-family: 'Champagne';
    src: url('Polices/cac_champagne-webfont.eot');
    src: url('Polices/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/cac_champagne-webfont.woff') format('woff'),
         url('Polices/cac_champagne-webfont.ttf') format('truetype'),
         url('Polices/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}
.A
{
	font-family:Aller;
	background-color: #6a1b3c;
	position: center;
	color:white;
	border-radius:100px;
	text-align:center;
	padding-top:50px;
	padding-bottom:60px;
	margin: auto;
	width:30%;
}


a
{
	text-decoration: none;

}

a:hover
{
	text-decoration: underline;
	color:green;
}
a:visited
{
	color:none;
}
.logoisep
{
	float:right;
}