h1
{
    color: purple;
    border-left: 15vw solid transparent;
    font-size: 2.5vw;
}


body
{
    background:url("images/BLUMYS.png") no-repeat;
    background-size: cover;
	margin-top: 3vw;
	margin-left: 8vw;
}

p
{
    font-size: 2vw;
    color: purple;
    border-left: 9vw solid transparent;
}



.zoneTexte
{
    border-radius: 0.2vw;
    border: none;
    width: 63vw;
    height: 2vw;
    background: #9997b1;
    margin-bottom: 1.2vw;
}

.zoneMessage
{
    border-radius: 0.2vw;
    background: #9997b1;
	width: 63vw;
    height: 13vw;
}

.zoneEnvoie
{
    border-radius: 0.4vw;
    width: 6vw;
    height: 2vw;
    background: #cccccc;
    margin-left: 57.6vw;
    color: purple;
    font-size: 1.2vw;
}

.iconeLettre
{
    border-radius: 0.1vw;
    width: 5vw;
    height: 4vw;
    position: absolute;
    top: 2.3vw;
    left: 17vw;
    
}
.logo
{
    position: absolute;
    top: 2.3vw;
    left: 73vw;
    width: 9vw;
    
}
