body
{
	border-top:50px solid black;
	font-family: Raleway-SemiBold;
	background-image: url("Images/BLUMYS.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
/*
/@font-face{
	font-family: 'Aller';
	src: url('Polices/Aller_Rg.ttf') ;
}

@font-face{
	font-family: 'Champagne';
    src: url('Polices/cac_champagne-webfont.eot');
    src: url('Polices/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/cac_champagne-webfont.woff') format('woff'),
         url('Polices/cac_champagne-webfont.ttf') format('truetype'),
         url('Polices/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}
*/

.center
{
	position: center;
	text-align: center;
}

figure
{
	position:relative;
	left:38.5%;
}


#bloc
{
	font-size:2em;
	font-weight:bold;
	color:white;
	background: #6a1b3c;
	border-radius: 20px;
	padding-top: 1px;
 	padding-bottom: 1px;
 	position:center;
	margin:auto;
	height:60%;
	width: 50%;
}

input[type=text]
{
	padding: 10px 20px;
    margin: 15px 0;
    box-sizing: border-box;
}
#blocs
{
	display:flex;
	justify-content:space-around;
}

.Valider
{
	border-radius: 10px;
	font-size:25px;
	color:white;
	background-color: #625C8E;
	border:none;
}
a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
	color:green;
}

a:visited
{
	color:none;
}



