@font-face{
	font-family: "Quando";
	src:url("quando/Quando-Regular.ttf");
}

body{
	background-image: url("images/BLUMYS.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	background-position: center;
}

html{
	height: 100%;
	width: 100%;
}

img{
	width: 240px;
}



.logo{
	text-align: center;
}

/*personnalisation du cadre*/
.piece{
  max-width: 500px;
  background: #6a1b3c;
  border-radius: 10px;
  padding: 30px 80px 30px 80px;
  margin-left: 25%;
  margin-right: 50%:;
}

.form1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}


.piece2{
  display: block;
  width: 100%;
  font-family: Quando;
  font-size: 30px;
  color: white;
  text-align: left;
  padding-bottom: 32px;
}

/*Positionnement des champs*/
.champnom{
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

/*mettre les champs cÃ´te Ã  cÃ´te*/
.ligne1{
  width: calc((100% - 5px) / 2);
  height: 50px;
}

.ligne2{
  width: calc((100% - 5px) / 2);
  height: 50px;
}

/*personnalisation des noms de champs*/
.inputNom{
  font-family: Quando;
  font-size: 18px;
  color: white;
}

/*caractÃ©ristiques des champs de texte*/
#nom, #type, #superficie, #idPiece{
  display: block;
  width: 70%;
  height: 60%;
  background: #f2f2f2;
  border-radius: 2px;
  border:none;

  font-family: Quando;
  font-size: 20px;
  color: #686868;
  padding: 0 28px;
  transition: all 0.4s;
  margin-top: 10px;
}

/*positionnement du bouton*/
.valid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

/*personnalisation intÃ©rieur du bouton*/
.bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 40px;
  background: #625c8e;
  background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
  border:none;
  box-shadow: none;
  border-radius: 10px 10px 10px 10px;

  font-family: Quando;
  font-size: 20px;
  color: white;
}

footer p{
	font-size: 18px;
	color: white;
	text-align: center;
}
