
body
{
    background-image: url("images/BLUMYS.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: center;
}

.profil
{
    position:absolute;
    color: white;
    margin-left:46%;
    top:7%;
    font-size: 3.5em;
    font-family: Quando, serif;
}

.iconeProfil
{
    border-radius: 4px;
    width: 4%;
    position: absolute;
    top: 8%;
    left: 40%;
    
}
.logo
{
    position: absolute;
    top: 2%;
    left: 7%;
    width: 20%;
    
}

/*#champ{
    width: 50%;
    height: 40%;
    background: #f2f2f2;
    border-radius: 2px;
    border:none;
    display: flex;
    font-family: Quando;
    font-size: 16px;
    color: #686868;
    transition: all 0.4s;
    margin-top: 10px;
}
*/

.boutonDeconnection
{
    position: absolute;
    top: 7%;
    left: 84%;
    width: 5%;
    
}

p
{
    font-family: Quando;
    font-size: 18px;
    color: white;
    border-left: 4em solid transparent;
}

.rectangle
{
   /* max-width: 500px;
    background: #6a1b3c;
    border-radius: 10px;
    padding: 30px 80px 30px 80px;
    margin-left: 25%;
    margin-right: 50%;
    display: flex;*/
    display: flex;
    padding: 0px 70px 0px 30px;
    max-width: 500px;
    background-color: #6a1b3d;
    height: 430px;
    width:80%;
    margin-left:27%;
    margin-right: 50%;
    border-radius: 10px;
    position: relative;
    top: 120px;
}

.valeurImporte
{
	margin-left:1.5em;
}

.positionModifProfil
{
	margin-top:-1em;
    margin-left: 6.7em;
}

.modifProfil
{
    border-radius: 7px;
    width: 40%;
    height: 40px;
    margin-left: 0.5%;
    background: #625c8e;
    color: white;
    font-size: 23px;
}

.image
{
    left: 7%;
    width: 5%;
    
}
.col1
{
    width: 86.5%;
    height: 40px;
	margin-left:1%;
}
.col2
{
	    font-size: 1.9em;
}